.prism-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it stays in the background */
  overflow: hidden; /* Hide any overflow from the canvas */
}

.prism-container canvas {
  width: 100%;
  height: 100%;
  display: block; /* Remove extra space below canvas */
}